<h1>Burgers</h1>

<h3>Create a burger</h3>

<ul>
  {{#each burgers}}
  	<li>
  	   <p>ID: {{this.ID}}</p>
       <p>Event: {{this.burgers}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="food"></textarea>

	<button type="submit">Submit</button>
</form>
